# Exclude all C++ files from language detection
*.cpp linguist-vendored
*.h linguist-vendored

# Exclude all CMake files from language detection
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
**/*.cmake linguist-vendored  # Catch-all for any cmake files in subdirectories

# Explicitly set Dart as the main language
* linguist-language=Dart
