# Exclude C++ files from language detection
*.cpp linguist-vendored
*.h linguist-vendored

# Exclude CMake files from language detection
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# Explicitly set Dart as the main language
* linguist-language=Dart
